<label><u>Ich suche:</u></label>
<label2>- Vollzeitbeschäftigung als Systemadministrator oder vergleichbarer Tätigkeit mit dem Schwerpunkt "IT-Sicherheit"</label2>
<br>
<br>
<br>
<label> </label>
<label>- Geschäftskontakte</label>
<br>
<br>
<label> </label>
<label>- Ideenaustausch</label>
<br>
<br>
<br>
<label><u>Ich biete:</u></label>
<label2> Administration und Konfiguration von Windows/Linux Client- und Server-Systemen, Windows 2000, Windows XP, Windows 7, 
Windows Server 2003, Windows Server 2008, Mac OS X, Hardware Wartungen- und Analysen, Netzwerkadministration (Windows Domains Services, 
Active Directory, Active Control System), Matrix42 Empirum, Atlassian Jira / Confluence, Endian FRW Server, Webserver, Apache, Mongrel, 
Github, Heroku, Java, JS, Pascal, HTML, CSS, PHP, SQL und insbesondere Ruby on Rails, DTP (Photoshop, Cinema4D), VPN, Microsoft Office 2003-2010, 
Sharepoint 2010
</label2>